[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
Type=Application
Name=Contacts
Name[aa]=Axxoowitte
Name[am]=ግንኙነቶች
Name[ar]=الأشخاص
Name[ast]=Contautos
Name[az]=Kontaktlar
Name[be]=Кантакты
Name[bg]=Контакти
Name[br]=Darempredoù
Name[bs]=Kontakti
Name[ca]=Contactes
Name[ca@valencia]=Contactes
Name[ckb]=ناسراو
Name[cs]=Kontakty
Name[cy]=Cysylltiadau
Name[da]=Kontakter
Name[de]=Kontakte
Name[el]=Επαφές
Name[en_AU]=Contacts
Name[en_GB]=Contacts
Name[eo]=Kontaktoj
Name[es]=Contactos
Name[eu]=Kontaktuak
Name[fa]=مخاطبین
Name[fi]=Yhteystiedot
Name[fr]=Contacts
Name[gd]=Luchd-aithne
Name[gl]=Contactos
Name[he]=אנשי קשר
Name[hr]=Kontakti
Name[hu]=Névjegyek
Name[ia]=Contactos
Name[id]=Kontak
Name[is]=Tengiliðir
Name[it]=Contatti
Name[ja]=連絡先
Name[km]=ទំនាក់ទំនង
Name[ko]=연락처
Name[lv]=Kontakti
Name[ms]=Kenalan
Name[my]=ဆက်သွယ်ရမည့် သူများ
Name[nb]=Kontakter
Name[nl]=Contacten
Name[pa]=ਸੰਪਰਕ
Name[pl]=Kontakty
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ro]=Contacte
Name[ru]=Контакты
Name[sk]=Kontakty
Name[sl]=Stiki
Name[sq]=Kontaktet
Name[sr]=Именик
Name[sv]=Kontakter
Name[tr]=Kişiler
Name[ug]=ئالاقەداشلار
Name[uk]=Контакти
Name[zh_CN]=联系人
Name[zh_HK]=聯絡人
Name[zh_TW]=聯絡人
GenericName=Contacts
GenericName[aa]=Axxoowitte
GenericName[am]=ግንኙነቶች
GenericName[ar]=الأشخاص
GenericName[ast]=Contautos
GenericName[az]=Kontaktlar
GenericName[be]=Кантакты
GenericName[bg]=Контакти
GenericName[br]=Darempredoù
GenericName[bs]=Kontakti
GenericName[ca]=Contactes
GenericName[ca@valencia]=Contactes
GenericName[ckb]=ناسراو
GenericName[cs]=Kontakty
GenericName[cy]=Cysylltiadau
GenericName[da]=Kontakter
GenericName[de]=Kontakte
GenericName[el]=Επαφές
GenericName[en_AU]=Contacts
GenericName[en_GB]=Contacts
GenericName[eo]=Kontaktoj
GenericName[es]=Contactos
GenericName[eu]=Kontaktuak
GenericName[fa]=مخاطبین
GenericName[fi]=Yhteystiedot
GenericName[fr]=Contacts
GenericName[gd]=Luchd-aithne
GenericName[gl]=Contactos
GenericName[he]=אנשי קשר
GenericName[hr]=Kontakti
GenericName[hu]=Névjegyek
GenericName[ia]=Contactos
GenericName[id]=Kontak
GenericName[is]=Tengiliðir
GenericName[it]=Contatti
GenericName[ja]=連絡先
GenericName[km]=ទំនាក់ទំនង
GenericName[ko]=연락처
GenericName[lv]=Kontakti
GenericName[ms]=Kenalan
GenericName[my]=ဆက်သွယ်ရမည့် သူများ
GenericName[nb]=Kontakter
GenericName[nl]=Contacten
GenericName[pa]=ਸੰਪਰਕ
GenericName[pl]=Kontakty
GenericName[pt]=Contactos
GenericName[pt_BR]=Contatos
GenericName[ro]=Contacte
GenericName[ru]=Контакты
GenericName[sk]=Kontakty
GenericName[sl]=Stiki
GenericName[sq]=Kontaktet
GenericName[sr]=Именик
GenericName[sv]=Kontakter
GenericName[tr]=Kişiler
GenericName[ug]=ئالاقەداشلار
GenericName[uk]=Контакти
GenericName[zh_CN]=联系人
GenericName[zh_HK]=聯絡人
GenericName[zh_TW]=聯絡人
Comment=Contacts Address Book
Comment[aa]=Axxoowittê Sigmâ Gale
Comment[am]=የ ግንኙነቶች አድራሻ ደብተር
Comment[ast]=Llibreta de contautos
Comment[az]=Kontakt Ünvan Kitabçası
Comment[be]=Адрасная кніга
Comment[br]=Karned chomlec'hioù
Comment[bs]=Adresar kontakta
Comment[ca]=Contactes
Comment[ca@valencia]=Contactes
Comment[cs]=Adresář kontaktů
Comment[cy]=Llyfr Cyfeiriadau Cysylltiadau
Comment[de]=Adressbuch
Comment[el]=Επαφές βιβλίου διευθύνσεων
Comment[en_AU]=Contacts Address Book
Comment[en_GB]=Contacts Address Book
Comment[es]=Agenda de contactos
Comment[eu]=Kontaktuen helbide-liburua
Comment[fa]=دفترچه تلفن مخاطبین
Comment[fi]=Yhteystietojen osoitekirja
Comment[fr]=Carnet d'adresse
Comment[gd]=Leabhar nan seòladh
Comment[gl]=Axenda de contactos
Comment[hr]=Adresar kontakata
Comment[hu]=Névjegyek
Comment[ia]=Repertoire del contactos
Comment[id]=Buku Alamat Kontak
Comment[is]=Tengiliðaskrá
Comment[it]=Rubrica
Comment[ja]=連絡先
Comment[km]=សៀវភៅ​អាសយដ្ឋាន​ទំនាក់ទំនង
Comment[ko]=주소록
Comment[lv]=Kontaktu adrešu grāmata
Comment[ms]=Buku Alamat Kenalan
Comment[nb]=Adressebok
Comment[nl]=Adresboek van contacten
Comment[pa]=ਸੰਪਰਕ/ਪਤਾ-ਕਾਪੀ
Comment[pl]=Książka adresowa
Comment[pt]=Livro de endereços de contactos
Comment[pt_BR]=Agenda de contatos
Comment[ro]=Agenda de contacte
Comment[ru]=Адресная книга
Comment[sk]=Adresár kontaktov
Comment[sl]=Imenik stikov
Comment[sr]=Именик контаката
Comment[sv]=Adressbok över kontakter
Comment[tr]=Kişi Adres Defteri
Comment[ug]=ئادرېس دەپتىرى
Comment[uk]=Адресна книга контактів
Comment[zh_CN]=联系人地址簿
Comment[zh_TW]=聯絡人通訊錄
Keywords=Contacts;People;Numbers
Keywords[aa]=Axxoowitte;Sinaama;Loowoowa
Keywords[am]=ግንኙነቶች: ሕዝብ: ቁጥሮች
Keywords[ast]=Contautos;Xente;Númberos
Keywords[az]=Kontaktlar;İnsanlar;Nömrәlәr
Keywords[be]=Кантакты;Людзі;Нумары
Keywords[br]=Darempredoù;Tud;Niverennoù
Keywords[bs]=Konakti;Ljudi;Brojevi
Keywords[ca]=Contactes; adreces; gent; amics; números
Keywords[ca@valencia]=Contactes; adreces; gent; amics; números
Keywords[cs]=Kontakty;Lidé;Čísla
Keywords[cy]=Cysylltiadau;Pobl;Rhifau
Keywords[de]=Kontakte;Menschen;Bekannte;Leute;Telefonnummern;Adressen
Keywords[el]=Επαφές;Άνθρωποι;Αριθμοί
Keywords[en_AU]=Contacts;People;Numbers
Keywords[en_GB]=Contacts;People;Numbers
Keywords[eo]=Kontaktoj;Personoj;Numeroj
Keywords[es]=Contactos;Personas;Números
Keywords[eu]=Kontaktuak;Jendea;Zenbakiak
Keywords[fa]=مخاطبین;مردم;شماره‌ها
Keywords[fi]=Contacts;People;Numbers;kontaktit;ihmiset;henkilöt;numerot;yhteystiedot
Keywords[fr]=Contacts;Personnes;Numéros
Keywords[gd]=Contacts;People;Numbers;Leabhar nan seòladh;seòladh;seòlaidhean;neach-aithne;luchd-aithne;àireamhan;daoine
Keywords[gl]=Contactos;Persoas;Números
Keywords[hr]=Kontakti;Osobe;Brojevi
Keywords[hu]=Névjegyek;Emberek;Telefonszámok
Keywords[ia]=Contactos;personas;numeros
Keywords[id]=Contacts;People;Numbers;Kontak;Kenalan;Orang;Nomor
Keywords[is]=Tengiliðir;Fólk;Símanúmer
Keywords[it]=Contatti;Persone;Numeri;Rubrica
Keywords[ja]=連絡先;人;番号
Keywords[km]=ទំនាក់ទំនង មនសុ្ស លេខ
Keywords[ko]=Contacts;연락처;People;사람;Numbers;번호
Keywords[lv]=Kontakti;Cilvēki;Numuri
Keywords[ms]=Kenalan;Orang;Nombor
Keywords[nb]=Kontakter;Folk;Numre
Keywords[nl]=Contacts;People;Numbers;Contacten;Mensen;Nummers
Keywords[oc]=Contactes;Personas;Numèros
Keywords[pa]=ਸੰਪਰਕ;ਲੋਕ;ਨੰਬਰ;
Keywords[pl]=kontakty;ludzie;numery
Keywords[pt]=Contactos;Pessoas;Números
Keywords[pt_BR]=Contatos;Pessoas;Números
Keywords[ro]=Contacte;Persoane;Numere
Keywords[ru]=Контакты;Люди;Номера
Keywords[sk]=Kontakty;Ľudia;Čísla
Keywords[sl]=Stiki;Ljudje;Številke
Keywords[sr]=Контакти;Људи;Бројеви
Keywords[sv]=Kontakter;Personer;Nummer
Keywords[tr]=Bağlantılar;Kişiler;Numaralar
Keywords[ug]=ئالاقەداشلار;ئادەملەر;نومۇرلار
Keywords[uk]=Контакти;Особи;Номери
Keywords[zh_CN]=联系人；人脉；电话号码
Keywords[zh_TW]=Contacts;People;Numbers;聯絡人;人物;號碼;
Exec=address-book-app %u
Icon=/snap/address-book-app/current/usr/share/address-book-app/artwork/address-book-app.png
X-Ubuntu-SymbolicIcon=/snap/address-book-app/current/usr/share/address-book-app/artwork/address-book-app-symbolic.svg
X-Ubuntu-Touch=true
X-Ubuntu-Single-Instance=true
X-Ubuntu-Splash-Show-Header=true
X-Screenshot=/snap/address-book-app/current/usr/share/address-book-app/artwork/address-book-app-preview.png
