Source: address-book-app
Section: x11
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
               dh-translations,
Standards-Version: 3.9.4
Vcs-Bzr: https://code.launchpad.net/~phablet-team/address-book-app/trunk

Package: address-book-app
Architecture: any
Depends: libqt5contacts5,
         libqt5versit5,
         qmlscene,
         qtcontact5-galera,
         qtdeclarative5-qtcontacts-plugin,
         qtdeclarative5-qtquick2-plugin,
         ${misc:Depends},
Description: Address Book application
 Address Book application to manager contacts.
