Source: address-book-app
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
               dh-translations,
               libcontent-hub-dev,
               libgl1-mesa-dev[i386 amd64] | libgl-dev[i386 amd64],
               libgles2-mesa-dev[armhf],
               python,
               pkg-config,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/address-book-app
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead. ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/address-book-app/trunk
Vcs-Browser: http://bazaar.launchpad.net/~phablet-team/address-book-app/trunk/files

Package: address-book-app
Architecture: any
Depends: libqt5contacts5,
         libqt5versit5,
         qmlscene,
         qtcontact5-galera,
         qtdeclarative5-ubuntu-contacts0.1 (= ${binary:Version}),
         qtdeclarative5-ubuntu-ui-toolkit-plugin,
         qtdeclarative5-ubuntu-content0.1,
         qtdeclarative5-qtcontacts-plugin,
         qtdeclarative5-qtquick2-plugin,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Address Book application
 Address Book application to manager contacts.

Package: qtdeclarative5-ubuntu-contacts0.1
Architecture: any
Depends: qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-ubuntu-ui-toolkit-plugin,
         qtdeclarative5-qtcontacts-plugin,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Qt Ubuntu Contacts Components - QML plugin
 Qt Ubuntu Contacts Components offers a set of reusable user interface
 related with contacts for Qt Quick 2 / QML.
 .
 This package contains the Ubuntu Contacts Components QML plugin.

Package: address-book-app-dbg
Architecture: any
Section: debug
Priority: extra
Depends: address-book-app (= ${binary:Version}),
         ${misc:Depends},
Description: debugging symbols for address-book-app
 Address Book application to manager contacts.
 .
 This package contains the debugging symbols for address-book-app

Package: address-book-app-autopilot
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libautopilot-qt,
         libqt5test5,
         libqt5widgets5,
         python-testscenarios,
         ubuntu-ui-toolkit-autopilot,
         address-book-app (>= ${binary:Version}),
Description: Test package for address-book-app
 Autopilot tests for the address-book-app package
